body {
  background-color: #d9d9d9;
}

.left-menu-div {
  width: 300px;
  background-color: #2d2942;
  height: 100vh;
  justify-items: flex-start;
  display: flex;
  align-items: center;
  flex-direction: column;

  gap: 5cm;
}

.home-logo {
  width: 220px;
  height: 180px;
  margin-left: ;
}

.logo-div {
  padding-top: 20px;
}

.left-menu {
  justify-items: center;
}

.menu-list {
}

.left-icon-home {
  width: 27px;
  height: 30px;
}

.left-icon-dashboard {
  width: 27px;
  height: 30px;
}

.left-icon-tickets {
  width: 35px;
  height: 30px;
}
